.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #8d7f32;
  height: 150px;
  padding: 20px;
  color: rgb(50, 31, 134);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.questionContainer {
  position: absolute;  
  top: 0vw;
  z-index: -1;
}

.userEqContainer{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30vw;
}

.wrContainer{
  position: absolute;
  top: 20vw;
}

.bullet{
  position: absolute;  
  bottom: 10vw;
}

.otherBullet{
  position: absolute;  
  top: 10vw;

}

.fpContainer{
  position: absolute;  
  bottom: 5vw;
}

.insctructionDiv{
  position: absolute;  
  bottom: 1vw;
}

.hpbar{
  position: absolute;  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 1vw;
}

.otherHPbar{
  position: relative;  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 1vw;
  z-index: -1;

}

.wordListContianer{
  position: absolute;  
  margin-left: 10px;
  margin-right: 10px;
  left: 10;
  right: 10;
  top: 15vw;
}

.scoreContainer{
  position: absolute;  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15vw;
}

.loginContainer{
  position: absolute;  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15vw;
}

.ClickAway-paper-44{
  z-index: 1;
}

.OtherPContainer{
  position: absolute;  
  top: 10vw;
}

.waitingScreen{
  position: absolute;  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30vw;
}

.multiPlayerQContainer{
  position: absolute;  
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20vw;
}